body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}
.journal-title {
  display: flex;
  font-weight: 700;
  font-size: 1.7rem;
  padding-right: 1.5rem;
  color: #001a3f;
  height: 4rem;
  align-items: center;
  justify-content: center;
}
.btn-back {
  position: absolute;
  color: #001a3f;
  background-color: #daeeff;
  padding: 0.3rem 1rem;
  border-radius: 20px;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}
.btn-back:hover {
  text-decoration: none;
  color: #001a3f;
  background-color: #c8def2;
}
.row-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 99;
}
.sidebar-body {
  -webkit-box-flex: 1;
  padding: 1.25rem 2rem 1.25rem 1.25rem;
}
.cont {
  background-color: white;
  height: 100%;
  border: 1px solid rgb(13, 203, 203);
}

.cont2 {
  background-color: white;
  height: 100vh;
  padding: 20px;
}

#sidebar-emoticard {
  float: left;
  background-color: white;
  overflow-y: auto;
  height: 100%;
  width: 25%;
}

.list-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
}
.title-container {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 700;
  font-size: 1.3rem;
  padding-right: 1.5rem;
}
.title{
  background-color: #90beff;
  padding: 0.3rem 1rem;
  border-radius: 20px;
}
.card {
  width: fit-content;
}

#main-emoticard {
  background-color: white;
  z-index: -3;
}
.main-body {
  height: 100%;
  width: 100%;
  padding: 1rem 1.2rem;
}
.chart {
  width: 55%;
  height: auto;
  float: left;
  margin: 60px 25px 0 0px;
}

.stress-mood {
  padding: 15px;
  background-color: white;
  color: grey;
  width: 20%;
  text-align: center;
  border: 2px solid;
}

.translation {
  background-color: #ffffff;
  border: 4px solid #91ceff;
  border-radius: 20px;
  width: 40%;
  height: 75%;
  float: right;
  margin: 50px 20px 0 -25px;
  color: #6b6b6b;
  padding: 15px;
  font-family: "Space Mono", monospace;
  font-size: 12px;
  box-shadow: 5px 5px 7px #88888850;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 16px;
  font-weight: bolder;
  margin: 0 0 -10px 10px;
}

.translation p {
  margin-top: 10px;
  margin-left: 15px;
}

.translation h3 {
  color: #4598f7;
  margin: 0;
}

.translation h3 {
  color: #4598f7;
  margin-bottom: 10px;
}

#mainEmotions,
#sensations,
#emotionDo,
#tendencies,
#patientAnswers {
  margin-bottom: 10px;
  margin-top: 0px;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 25px 10px;
  height: 25px;
  width: 300px;
}

.progress-done {
  background: #ff61ab;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

.btnEmoticardList {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #57c4ff;
  background-color: white;
  z-index: 99;
  color: #001a3f;
  cursor: pointer;
}
.container-text {
  padding: 1rem;
  text-align: justify;
}
.btnEmoticardList:hover {
  background-color: #ebf5ff;
}
.btnSelected {
  color: #001327;
  background-color: #ebf5ff;
}
.selector-container {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  position: absolute;
  width: 100%;
  padding: 1.1rem 0.4rem;
  z-index: 999;
  font-size: 1.2rem;
  font-weight: 1000;
  color: #001a3f;
}
.cell-list {
  margin: 0.5rem 0;
  position: relative;
}
.emoteTable {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  white-space-collapse: collapse;
  text-wrap: wrap;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  border-spacing: 2px;
  font-variant: normal;
  margin-bottom: 1rem;
}
