{% load static %}

    <nav class="navbar navbar-custom navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'landing' %}"><img src="{% static 'img/logo.png' %}" alt="DailyTrack logo" class="logo"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="\">
                      <i class="fa-solid fa-table-list"></i>
                    Dashboard <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPat" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline">
                    <i class="fa-solid fa-people-group fa-fw mr-1 "></i>Patients</span></a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownPat">
                        <a class="dropdown-item" href="{% url 'unconfirmed-list' %}">
                            <i class="fa fa-user fa-sm fa-fw mr-2"></i>Uncomfirmed Patients</a>
 
                        <a class="dropdown-item" href="{% url 'confirmed-list' %}">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>Confirmed Patients</a>
                        </div>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="calendar.html">
                    <span class="mr-2 d-none d-lg-inline">
                        <i class="fa-solid fa-calendar-days fa-fw mr-1 "></i>Calendar</span></a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="summaries.html">
                    <span class="mr-2 d-none d-lg-inline">
                    <i class="fa-solid fa-chart-column fa-fw mr-1 "></i>Summaries</span></a>
                </li>

                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.email}}
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="profile.html">
                            <i class="fa fa-user fa-sm fa-fw mr-2"></i>Profile</a>
 
                        <a class="dropdown-item" href="logout">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

{#Navbar from specialistHome.html#}
{#<nav class="navbar navbar-custom navbar-expand-lg navbar-light bg-light">#}
{#      <a class="navbar-brand" href="patientHeader.html"><img src="img/logo.png" alt="DailyTrack logo" class="logo"></a>#}
{##}
{#      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#          <span class="navbar-toggler-icon"></span>#}
{#      </button>#}
{##}
{#      <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">#}
{#          <ul class="navbar-nav ml-auto">#}
{##}
{#              <li class="nav-item active">#}
{#                  <a class="nav-link" href="\">#}
{#                  <i class="fa-solid fa-table-list"></i>#}
{#                  Dashboard <span class="sr-only">(current)</span></a>#}
{#              </li>#}
{##}
{#              <li class="nav-item nav-item dropdown no-arrow active">#}
{#                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPat" role="button"#}
{#                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                  <span class="mr-2 d-none d-lg-inline">#}
{#                  <i class="fa-solid fa-people-group fa-fw mr-1 "></i>Patients</span></a>#}
{##}
{#                      <div class="dropdown-menu" aria-labelledby="navbarDropdownPat">#}
{#                      <a class="dropdown-item" href="uncomfirmedpatients.html">#}
{#                          <i class="fa fa-user fa-sm fa-fw mr-2"></i>Uncomfirmed Patients</a>#}
{##}
{#                      <a class="dropdown-item" href="comfirmedpatients.html">#}
{#                          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>Confirmed Patients</a>#}
{#                      </div>#}
{#              </li>#}
{##}
{#              <li class="nav-item ">#}
{#                  <a class="nav-link" href="calendar.html">#}
{#                  <span class="mr-2 d-none d-lg-inline">#}
{#                      <i class="fa-solid fa-calendar-days fa-fw mr-1 "></i>Calendar</span></a>#}
{#              </li>#}
{##}
{#              <li class="nav-item ">#}
{#                  <a class="nav-link" href="summaries.html">#}
{#                  <span class="mr-2 d-none d-lg-inline">#}
{#                  <i class="fa-solid fa-chart-column fa-fw mr-1 "></i>Summaries</span></a>#}
{#              </li>#}
{##}
{#              <li class="nav-item dropdown no-arrow">#}
{#                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                      *Specialist's Name*#}
{#                  </a>#}
{##}
{#                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                      <a class="dropdown-item" href="profile.html">#}
{#                          <i class="fa fa-user fa-sm fa-fw mr-2"></i>Profile</a>#}
{##}
{#                      <a class="dropdown-item" href="logout">#}
{#                          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>Log Out</a>#}
{#                  </div>#}
{#              </li>#}
{#          </ul>#}
{#      </div>#}
{#  </nav>#}

