{% extends 'specialistTemplate.html' %}
{% block title %} Home {% endblock title%} 
{% block content %} 
{% load static %}

<div class="container">
  <h3 class="h-bold welcomebanner">
    Welcome back, <span class="fname">Dr. {{ user.first_name }}</span>!
  </h3>
  <h4 class="h-xlight title">What would you like to do today?</h4>
</div>

<div class="d-flex justify-content-center align-items-center home-selection">
  <div class="col-sm-3 col-md-3 no">
    <a href="{% url 'specialistHub' %}">
      <button
        id="specProfile_btn"
        class="btnHome box text-center wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <i class="fa-solid fa-stethoscope fa-fw mr-1 specProfile bigger"></i>
        <p class="btn-titles">Specialist's Hub</p>
      </button>
    </a>
  </div>

  <div class="col-sm-3 col-md-3 no">
    <a href="{% url 'patientDashboardHome' %}">
      <button
        id="PatientWellness_btn"
        class="btnPatientWellness btnHome box text-center wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <i class="fa-solid fa-table-list fa-fw mr-1 PatientWellness bigger"></i>
        <p class="btn-titles">Patient Wellness Hub</p>
      </button>
    </a>
  </div>

  <div class="col-sm-3 col-md-3 no">
    <a href="{% url 'appointmentPage' %}">
      <button
        id="apptTrackerbtn"
        class="btnapptTracker btnHome box text-center wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <i class="far fa-clipboard fa-fw mr-1 apptTracker bigger"></i>
        <p class="btn-titles">Appointment Tracker</p>
      </button>
    </a>
  </div>




  <!-- <div class="col-sm-3 col-md-3 no">
          <button id="journal_btn" class="btnJournal btnHome box text-center wow fadeInUp" data-wow-delay="0.2s">
        <i class="fa fa-book fa-fw mr-1 journal bigger"></i>
        <p class="btn-titles">Journal</p>
        </button>
      </div> -->
</div>

{% endblock content %}
