<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href='css/navbar.css'>
    <link rel="stylesheet" href='css/patientlist.css'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
  <nav class="navbar navbar-custom navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="header.html"><img src="img/logo.png" alt="DailyTrack logo" class="logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a class="nav-link" href="\">
                  <i class="fa-solid fa-table-list"></i>
                Dashboard <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item nav-item dropdown no-arrow active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPat" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline">
                <i class="fa-solid fa-people-group fa-fw mr-1 "></i>Patients</span></a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownPat">
                    <a class="dropdown-item" href="uncomfirmedpatients.html">
                        <i class="fa fa-user fa-sm fa-fw mr-2"></i>Uncomfirmed Patients</a>

                    <a class="dropdown-item" href="comfirmedpatients.html">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>Confirmed Patients</a>
                    </div>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="calendar.html">
                <span class="mr-2 d-none d-lg-inline">
                    <i class="fa-solid fa-calendar-days fa-fw mr-1 "></i>Calendar</span></a>
            </li>

            <li class="nav-item ">
                <a class="nav-link" href="summaries.html">
                <span class="mr-2 d-none d-lg-inline">
                <i class="fa-solid fa-chart-column fa-fw mr-1 "></i>Summaries</span></a>
            </li>

            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    *Specialist's Name*
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="profile.html">
                        <i class="fa fa-user fa-sm fa-fw mr-2"></i>Profile</a>

                    <a class="dropdown-item" href="logout">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
    <!--End of NAVBAR-->

    <div class="d-flex row">
        <div class="col-lg-3 cont" style="background-color: rgb(13, 203, 203);">

            <section id="sidebar-patlist">
                <div class="row">
                  <div class="col-md-12">
                    <div class="card">
              
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="display table table-bordered table-hover table-striped patsList" width="70%" cellspacing="0">
                            <thead>
                                <tr>
                                  <th>Patients List
                                    <a class="btn-xs filtersymbol" type="button" data-toggle="modal" data-target="#dateFilterModal">
                                    <i class="fa fa-filter" aria-hidden="true" style="color:#11b5cf;"></i>
                                  </a>
                                  </th>
                                </tr>
              
                                <!-- Modal -->
                                <div class="modal fade" id="dateFilterModal" tabindex="-1" aria-labelledby="dateFilterModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h2 class="modal-title fs-5" id="dateFilterModalLabel" style="font-size:25px;">Select Date Range</h2>
                                      </div>
                                      <div class="modal-body">
              
                                      <!--PUT PHP CODE HERE HUHU-->
              
                                      <div class="card-body">
                                  
                                        <form action="" method="GET">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>From Date</label>
                                                        <input type="date" name="from_date" value="<?php if(isset($_GET['from_date'])){ echo $_GET['from_date']; } ?>" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>To Date</label>
                                                        <input type="date" name="to_date" value="<?php if(isset($_GET['to_date'])){ echo $_GET['to_date']; } ?>" class="form-control">
                                                    </div>
                                                </div>
              
                                            </div>
                                        </form>
                                      </div>
                                        
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" style="border-radius: 20px;">Filter Records</button>
                                        <button type="button" class="btn btn-outline-info" data-dismiss="modal" style="border-radius: 20px;">Close</button>                        
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <!--MODAL END-->
              
                            </thead>
                            <tbody>
                              <!-- <?php
              
                                $patlist = (new ControllerList)->ctrShowPatientData($idSpec);
                                foreach ($patlist as $key => $value) {
                                  echo '<tr> -->
                                          <td>
                                            <div class="btn-group group-round m-1">
                                              <button class="btnPatList"
                                              idPat="'.$value["userid"].'">
                                              '.$value["username"].'</button>
                                              </div>
                                          </td>
                                    </tr><!-- ';
                                  }
                              ?> -->
                            </tbody>
                            <tfoot>
                              <tr>
                                <th></th>
                              </tr>
                            </tfoot>
                          </table>
                        </div> <!-- patient list: END -->
              
              
                    </div>
                  </div>
                </div>    <!-- row -->
              </section>
        </div>

    <div class="col-lg-9 cont2" style="background-color: brown;">
            
        
            
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>