[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
aioquic-mitmproxy = "==0.9.20.3"
asgiref = "==3.6.0"
blinker = "==1.6.2"
brotli = "==1.0.9"
certifi = "==2023.7.22"
cffi = "==1.15.1"
charset-normalizer = "==3.2.0"
click = "==8.1.7"
colorama = "==0.4.6"
colorclass = "==2.2.2"
cryptography = "==41.0.3"
defusedxml = "==0.7.1"
distlib = "==0.3.7"
django-allauth = "==0.55.0"
django-classy-tags = "==4.1.0"
django-cms = "==3.11.3"
django-formtools = "==2.4.1"
django-sekizai = "==4.1.0"
django-treebeard = "==4.7"
djangocms-admin-style = "==3.2.5"
docopt = "==0.6.2"
filelock = "==3.12.2"
flask = "==2.3.3"
h11 = "==0.14.0"
h2 = "==4.1.0"
hpack = "==4.0.0"
hyperframe = "==6.0.1"
idna = "==3.4"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.2"
kaitaistruct = "==0.10"
ldap3 = "==2.9.1"
markupsafe = "==2.1.3"
mitmproxy = "==10.0.0"
mitmproxy-rs = "==0.2.2"
msgpack = "==1.0.5"
oauthlib = "==3.2.2"
packaging = "==23.1"
passlib = "==1.7.4"
pillow = "==9.5.0"
pip-upgrader = "==1.4.15"
pipenv = "==2023.8.23"
platformdirs = "==3.10.0"
protobuf = "==4.24.1"
publicsuffix2 = "==2.20191221"
pyasn1 = "==0.5.0"
pycparser = "==2.21"
pydivert = "==2.1.0"
pyjwt = "==2.8.0"
pylsqpack = "==0.3.17"
pyopenssl = "==23.2.0"
pyparsing = "==3.1.1"
pyperclip = "==1.8.2"
python-dateutil = "==2.8.2"
python3-openid = "==3.2.0"
requests = "==2.31.0"
requests-oauthlib = "==1.3.1"
"ruamel.yaml" = "==0.17.32"
"ruamel.yaml.clib" = "==0.2.7"
six = "==1.16.0"
sortedcontainers = "==2.4.0"
sqlparse = "==0.4.3"
sweetify = "==2.3.1"
terminaltables = "==3.1.10"
tornado = "==6.3.3"
typing-extensions = "==4.5.0"
tzdata = "==2023.3"
urllib3 = "==2.0.4"
urwid-mitmproxy = "==2.1.2.1"
virtualenv = "==20.24.3"
werkzeug = "==2.3.7"
wsproto = "==1.2.0"
zstandard = "==0.21.0"
djangorestframework = "==3.14.0"
pytz = "==2023.3.post1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"

[scripts]
dev = "py manage.py runserver"
i = "pipenv install -r requirements.txt"
makemigrate = "py manage.py makemigrations && py manage.py migrate"
migrate = "py manage.py migrate"
