{% extends 'specialistTemplate.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}
    {% load static %}
    {% block link %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    {% endblock link %}

    <div class="container mt-4">
        
        <br>

    <div class="row">
        <div class="col-md-12">
        <div class="panel panel-default">

        <div class="panel-heading" style="display:flex;flex-direction:row;">
          <h3 style="color:#00c4c0;">Patient Dashboard Overview</h3>


          <!-- <div class="col-md-4">
            <i class="fas fa-search"></i>
          <input class="form-control" id="textSearch" style="float: right;margin-right:-350px;" placeholder="Search anything..." />
          </div> -->
        </div>

        <br>

        <div class="panel-body">
          <table id="example" display="table" class="table table-striped">
            <thead class="thead-dark">
              <tr style="text-align:center;">

                <!-- <th>ID</th> -->
                <th>Patient Name</th>
                <th>Latest Mood</th>
                <th>Go to</th>

              </tr>
            </thead>
            
            <tbody>
              {% for userData in data %}
              <div class="modal fade dashboardModal" id="dashboardModal" tabindex="-1" role="dialog" aria-labelledby="editAvailabilityTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
          
                  <div class="modal-content">
          
                    <div class="modal-header" style="background-color:#03a3a0;color:white;">
                      <h5 class="modal-title" id="exampleModalLongTitle">
                      <i class="fa-solid fa-circle-user" style="margin-right: 5px;"></i>
                        Patient Profile
                      </h5>
          
                    </div>
                    <div class="modal-body">
                      <div class="card-header">
                        <div class="image">
                          {% if userData.image != 'default.jpg' and userData.image %}
                            <img src="{% static userData.image %}" alt="profile image" class="rounded-circle" style="aspect-ratio: 1;" width="100">
                          {% else %}
                            <img src="https://static.vecteezy.com/system/resources/previews/009/292/244/original/default-avatar-icon-of-social-media-user-vector.jpg" alt="{{ user.username }}" class="rounded-circle" width="150">
                          {% endif %} 
                        </div>
                        <div id="name" class="description">
                          
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="body-content">
                          Contact Number:
                          <span class="content-data">
                            {{ userData.phone }}
                          </span>
                        </div>
                        <div class="body-content">
                          Birth Date:
                          <span id="" class="content-data">
                            {{ userData.birthDate }}
                          </span>
                        </div>
                        <div class="body-content">
                          Address:
                          <span class="content-data">
                            {{ userData.address }}
                          </span>
                        </div>
                        <div class="body-content">
                          Start Date:
                          <span class="content-data">
                            {{ userData.startDate }}
                          </span>
                        </div>
                        <div class="body-content">
                          End Date:
                          <span class="content-data">
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-info" data-dismiss="modal" style="border-radius: 20px;">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
          
              <tr class="dashboard-row">
                <td >{{ userData.patientName }}</td>
                {% if userData.latestMood == "No Entry" %}
                  <td>{{ userData.latestMood }}</td>
                {% else %}
                  <td class="mood-cell">
                    <span class="mood-container {{ userData.latestMood }}">{{userData.latestMood}}</span>
                  </td>
                {% endif %}               
                <td align="center">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select</a>
  
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in text-gray-600"
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item text-gray-600 dashboardModalAppt">
                      <i class="fa fa-user fa-sm fa-fw mr-2"></i> View Profile
                    </a>
                    <a class="dropdown-item text-gray-600" href="{% url 'viewPatientEntries' userId=userData.id %}">
                        <i class="fa fa-book fa-sm fa-fw mr-2"></i> Shared Journal Entries
                    </a>
                    <a class="dropdown-item text-gray-600" href="{% url 'emoticardList' userId=userData.id %}">
                        <i class="fa fa-pie-chart fa-sm fa-fw mr-2"></i> Emoticards
                    </a>
                    <a class="dropdown-item text-gray-600" href="{% url 'noteView' userId=userData.id %}">
                        <i class="fa fa-clipboard fa-sm fa-fw mr-2"></i> Consultation Notes
                    </a>
  
                  </div>
  
                </td>

              </tr>
              
              {% endfor %}
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
  </div>
        
	</div>
  
    <script>
      $(document).ready(function () {
        $(".dashboardModalAppt").click(function(){
          $('#dashboardModal').modal('show');
        })
      });
    </script>
    
{% endblock content %}