<!DOCTYPE html>
<html>
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--CSS-->
      <link href='fontawesome/css/fontawesome.css' rel="stylesheet" type="text/css">
      <link href='fontawesome/css/brands.css' rel="stylesheet" type="text/css">
      <link href='fontawesome/css/solid.css' rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <!-- <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
      <!-- Delete after django -->
      <link rel="stylesheet" href='css/login.css'>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
<style>

</style>
</head>
<body>

    <div class="row justify-content-center">

        <div class="col-md-4">
        
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                            <div class="col-lg-12" style="align-items: center;">
                            <div class="p-5">
                                <div class="text-center">
                                    <img src="img/logo.png" alt="logo" class="logo">
                                    <h4 class="reg_title">Specialist Log In</h4>
                                </div>
        
                                    <!-- <?php
                                      $auth = new ControllerAuthentication();
                                      $login = $auth->ctrLogin();
        
                                      if ($login == "locked") {
                                        echo '<form role="form" method="post">
                                          <div class="form-group">
                                              <input type="email" class="form-control form-control-user"
                                                  id="useremail" name="useremail" placeholder="Email" disabled>
                                          </div>
                                          <div class="form-group">
                                              <input type="password" class="form-control form-control-user"
                                                  id="password" name="password" placeholder="Password" disabled>
                                          </div>
                                          <button type="submit" class="btn-info btn-user btn-block" style="border-radius:20px;width:50%;margin:0 auto;" disabled>Log in</button>
                                          </form>
                                          <br>
                                          <p align="center"><a href="register">Are you a new user?</a></p>
                                          <script src="views/js/restrict.js"></script>
                                          ';
                                        }
                                      else {
                                        echo '<form role="form" method="post"> -->
        
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="useremail" name="useremail" placeholder="Email" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="password" name="password" placeholder="Password" required>
                                            </div>
                                            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                                                async defer>
                                            </script>
                                            <div class="g-recaptcha" data-sitekey="6Le5RZEeAAAAAKEusa174wCpLJxOChTkd22_L48F" style="margin-left:20px;">
                                            </div>
                                            <br>
                                            <button type="submit" class="btn-info btn-user btn-block" style="border-radius:50px;width:40%;margin:0 auto;">Login</button>
                                        </form>
                                        <br>
                                        <p align="center"><a href="forget_password">Forgot Password?</a></p>
                                        <p align="center"><a href="specialist_registration">Register for a Dailytrack account</a></p>
        
                                        <p align="center"><a href="login">Login as a Specialist</a></p>';
                                      <!-- }
                                    ?> -->
        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    <!-- Optional Javascript -->

    <!-- <script src=" {% static 'js/app.js' %}"></script>
    <script src=" {% static 'js/auth.js' %}"></script> -->

    <!--Delete after Django-->
    <script src="js/app.js"></script>
    <script src="js/auth.js"></script>
    <!---->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>