<section id="sidebar-emoticard">
    <div class="row">

        <div class="card col-lg-12">
          <div class="card-body">
            <div class="table-responsive">
              <table class="display table table-bordered table-hover table-striped emoteTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th>Emoticard List</th>
                    </tr>                          
                </thead>
                <tbody>
                    <!-- for loop -->
                    <td>
                        <div class="btn-group group-round m-1">
                            <button class="btnEmoticardList"
                            idEmote="">
                            '.$date.' - '.$time.'</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th></th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

      </div>
    </div>  
  </section>
