{% if specialist == False %}
    {% include "patientTemplate.html" %}
{% elif specialist == True %}
    {% include "specialistTemplate.html" %}
{% else %}
    {% include "specialistTemplate.html" %}
{% endif %}

{% load static %}
{% block link %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="{% static 'css/emoticardslist.css' %}">
<link rel="stylesheet" href="{% static 'css/emoticard.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock link %} 


{% block content %}
<div class="list-container">
    <section id="sidebar-emoticard">
        {% include 'emoticardListSidebar.html' %}        
    </section>
    <div class="main-body">
        
        <!-- get userId from context and return another context containing the emoticard -->
        <a href="{% url 'landing' %}" class="btn-back"> <i class="fa fa-circle-xmark"></i> Leave</a>
        {% block emoticardContent %}
        {% endblock emoticardContent %}
    </div>
</div>
{% endblock content %}