{% extends 'patientTemplate.html' %}
{% load static %}
{% block title %}
    Coping Strategies - Personal
{% endblock title %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/steppingstones.css' %}">
{% endblock link %}


{% block content %}

<div class="cp-personal bg">

    <div class="col-lg-12 align-items-center title" style="margin-bottom: 20px;">
        <h2 class="h-bold text-center" style="color:#f54e65;">Category: Personal</h2>
        <p class=" text-center" style="color:#6e6e6e;">How did you deal with feeling
        <span class="latest_mood">terrible</span> today?</p>
    </div>
    <br>

    <div class="col-lg-10 mx-auto">
    <form method="POST" id="personal">
        {% csrf_token %}

            <div class="copingstrategies tab" style="position: relative;">

            <input type="radio" id="hobbies" name="personal" class="input-hidden" value="8-Do Hobbies" />
            <label for="hobbies">
                <img src="{% static 'img/coping_strats/personal/hobbies.png' %}" alt="Do Hobbies" />
                <br><br>
            </label>

            <input type="radio" id="journal" name="personal" class="input-hidden" value="4-Journal Feelings" />
            <label for="journals">
                <img src="{% static 'img/coping_strats/personal/journal.png' %}" alt="Journal Feelings" />
                <br><br>
            </label>

            <input type="radio" id="procrastinate" name="personal" class="input-hidden" value="16-Procrastinate" />
            <label for="procrastinate">
                <img src="{% static 'img/coping_strats/personal/Procrastinate.png' %}" alt="Procrastinate" />
                <br><br>
            </label>

            <input type="radio" id="relax" name="personal" class="input-hidden" value="12-Relax" />
            <label for="relax">
                <img src="{% static 'img/coping_strats/personal/relax.png' %}" alt="Relax" />
                <br><br>
            </label>

            <input type="radio" id="therapist" name="personal" class="input-hidden" value="8-Talk to Therapist" />
            <label for="therapist">
                <img src="{% static 'img/coping_strats/personal/therapist.png' %}" alt="Talk to Therapist" />
                <br><br>
            </label>

            <input type="radio" id="tantrums" name="personal" class="input-hidden" value="20-Throw Tantrums" />
            <label for="tantrums">
                <img src="{% static 'img/coping_strats/personal/tantrums.png' %}" alt="Throw Tantrums" />
                <br><br>
            </label>

            <input type="radio" id="nothing_as_of_now" name="personal" class="input-hidden" value="0-None" />
            <label for="nothing_as_of_now">
                <img src="{% static 'img/coping_strats/personal/none.png' %}" alt="None" />
                <br><br>
            </label>
              <input type="text" class="form-control" hidden name="p-final" value="" id="p-final">
        </div>

        <br>

        <section class="bottom_btn_set" style="position: static;">
            <button type="button" onclick="history.go(-1)" id="prevBbtn" class="btn btn-light btn-circle btn-xl">
                <i class="fa-solid fa-arrow-left"></i></button>

            <div class="progress col-4">
                <div class="progress-bar progress-bar-striped progress-bar-animated p-0" role="progressbar"
                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
            </div>

            <button id="nextbtn" class="btn btn-light btn-circle btn-xl"><i class="fa-solid fa-arrow-right"></i></button>
        </section>
    </form>
</div>
</div>

    <script src="{% static 'js/steppingstones.js' %}"></script>

{% endblock content %}