{% extends "journalBase.html" %}
{% block content %}

<div class="col-md-8 mr-auto" style="background-color:transparent;">
    <div class="bich">
        <div class="container my-4">
            <div class="row">
                <div class="col-md-6 mx-auto d-flex">
                    <input class="form-control" id="textSearch" placeholder="Search entries..." />
                </div>
            </div>
                <table class="table mt-4" id="journalEntries">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Star</th>
                            <th>Title</th>
                            <th>Specialist Access</th>
                            <th>Created At</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for entry in entries %}
                            <tr>
                                <td>
                                    <a title="{% if entry.isStarred == 1 %}isStarred{% else %}not isStarred{% endif %}" href="#" onclick="toggleStar(event, '{{ entry.id }}')">
                                        <i class="fa {% if entry.isStarred == 1 %} fa-star {% else %} fa-star-o {% endif %}" {% if entry.isStarred == 1 %}style=" color:orange" {% endif %} aria-hidden="true"></i>
                                        This is Star
                                    </a>
                                </td>
                                <td>
            {#                        <a title="Click to open article" href="{% url 'journal_detail' entries.id %}">{{ entries.title }}</a>#}
                                    <a title="Click to open article" href="#">{{ entry.title }}</a>
                                </td>
                                <td>
                                    <span hidden id="jnid{{ entry.id }}">!{{ entry.id }}</span>

                                    {% if entry.status is None %}
                                        <span class="badge badge-secondary">No Request</span>
                                    {% elif entry.status == 0 %}
                                        <button class="journalRequest btn btn-outline-info" value="{{ entry.id }}">Access Request</button>
                                    {% elif entry.status == 1 %}
                                        <span class="badge badge-success">Shared</span>
                                    {% endif %}
                                </td>
                                <td>{{ entry.created_at}}</td>
                                <td>
                                    <a title="Delete Article" href="{% url 'delete_journalEntry' entry_id=entry.id %}" onclick="confirmDelete(event, '{% url 'delete_journalEntry' entry_id=entry.id %}')">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7">No records found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
</div>
{% endblock content %}
