<!-- <?php
  
  $idPat = $_SESSION['id'];
  $con = (new Connection)->connect();
  
  $patName = implode($con->query("SELECT CONCAT(user.userfname, ' ', user.userlname) FROM userauth user WHERE user.id = $idPat")->fetch(PDO::FETCH_ASSOC));
  
  // session_start();
  // include_once 'dbConnection.php';
  // $title = $_POST['title'];
  // $text = $_POST['text'];
  // $id=uniqid();
  // $email=$_SESSION["email"];
  // $date=date("Y-m-d");
  // $time=date("h:i:sa");
  // $star=0;
  // $share=0;
  // $nick=0;
  // $q=mysqli_query($con,"INSERT INTO articles VALUES  ('$email', '$id' , '$date' , '$time' , '$text', '$title' , '$star', '$share', '$nick')")or die ("Error");
  // header("location:account.php?q1=2");
  
  
  // if ((@$_GET['q1'] == 1) || @$_GET['eeid'])
  //   echo '<script src="views/assets/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>';
  
  
  if (@$_GET['w']) {
    echo '<script>alert("' . @$_GET['w'] . '");</script>';
  }
  
  ?> -->
  
  <!-- Journal Modal-->
  <!-- <div class="modal fade modal-dialog modal-dialog-centered" id="journalRequestModal" tabindex="-1" role="dialog" aria-labelledby="journalRequestModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="background-color:#03a3a0;color:white;">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-book-open" style="margin-right: 5px;"></i>Request Access for Journal Entry
          </h5>
  
        </div>
  
        <div class="modal-body">
           FORM FOR REQUEST ACCESS -->
          <!-- <form method="POST" action="modify-journal">
            <div class="form-group">
  
              <div class="mb-3">
                <input type="text" hidden class="form-control" name="journalid" id="journalid">
                <label for="recipient-name" class="col-form-label">Specialist Name:</label>
                <input type="text" disabled class="form-control" value="" id="specname">
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" disabled name="notes" id="notes"></textarea>
              </div>
              <div class="mb-3">
                <label for="permission" class="col-form-label">Permission:</label>
                <div class="form-group">
                  <select name="permission" id="permission" class="custom custom-select">
                    <option value="1">Accept</option>
                    <option value="2">Decline</option>
                  </select>
                </div>
              </div>
     
              <div class="modal-footer">
  
                <button type="submit" class="btn-primary" style="border-radius: 20px;">Submit</button>
                <button type="button" class="btn-secondary" data-dismiss="modal" style="border-radius: 20px;">Close</button>
              </div>
  
            </div>
          </form>
        </div>
  
      </div>
    </div>
  </div> -->