.specProfile {
  color: #9942f5;
}

.PatientWellness {
  color: #ef4877;
}

.journal {
  color: #ff457a;
}

.apptTracker {
  color: #ffdb63;
}

.bigger {
  font-size: 80px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.specProfile:hover,
.specProfile:focus {
  font-size: 85px;
  color: rgb(139, 13, 182);
}

.PatientWellness:hover,
.PatientWellness:focus,
.journal:hover,
.journal:focus {
  font-size: 85px;
  color: #dc275a;
}

.apptTracker:hover,
.apptTracker:focus {
  font-size: 85px;
  color: #eab712;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v22/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v20/S6uyw4BMUTPHjx4wXg.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway" !important;
}

.welcomebanner {
  text-align: center;
  color: #04c3b6;
  font-weight: 600;
  margin-top: 60px;
}

.title {
  color: #a3a3a3;
  margin-top: 15px;
  text-align: center;
}

.home-selection {
  margin-top: 100px;
  margin-left: +60px;
}

.no {
  margin-left: -30px;
  margin-right: -30px;
}

.btnHome {
  height: 250px;
  width: 260px;
  border-radius: 20px;
  border: 8px solid #0000;
  font-weight: bolder;
  box-shadow: 7px 7px 5px #cfcfcf;
  padding-top: 20px;
  cursor: pointer;
}

#specProfile_btn {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(#cb9aff, #ad2ce8) border-box;
  background-color: #cce9ff;
}

#sstones_btn {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(#6fe8ac, #0dbf6f) border-box;
  background-color: #ccffd0;
}

#PatientWellness_btn, #journal_btn {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(#ff8fc1, #e8256f) border-box;
  background-color: #fdc4de;
}

#apptTrackerbtn {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(#ffe692, #ffd13b) border-box;
  background-color: #fffcf2;
}

.btn-titles {
  margin-top: 20px;
  color: #666666;
}

.big {
  width: 50px;
  height: 50px;
  font-size: 80px;
  text-align: center;
  margin: 20px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  margin-top: -30px;
}

#specProfile_btn .big {
  color: #4281f5;
}

#sstones_btn .big {
  color: #56c787;
}

#journal_btn .big, #PatientWellness_btn .big {
  color: #ff4274;
}

#apptTrackerbtn .big {
  color: #ffd769;
}

#specProfile_btn .big:hover,
.big:focus {
  font-size: 85px;
  color: #2d5eba;
  margin-right: 75px;
}

#PatientWellness_btn .big:hover,
.big:focus,
#journal_btn .big:hover,
.big:focus {
  font-size: 85px;
  color: #ff4274;
  margin-right: 75px;
}

#apptTrackerbtn .big:hover,
.big:focus {
  font-size: 85px;
  color: #ffd447;
  margin-right: 75px;
}

#profile_btn {
  background: linear-gradient(white, white) padding-box,
    linear-gradient(#6ecfff, #2c6ee8) border-box;
  background-color: #cce9ff;
}
#profile_btn .big:hover,
.big:focus {
  font-size: 85px;
  color: #2d5eba;
  margin-right: 75px;
}
