
{% extends 'consultationNotesBase.html' %}
{% block notesContent %}
<script>
    function validateForm() {
      var y = document.forms["form"]["entryTitle"].value;
      if (y == null || y == "") {
        alert("Title must be filled out.");
        return false;
      }
    }
  </script>
  
<form style="width:100%;margin-left:25px" name="form" onSubmit="return validateForm()" method="POST">
  {% csrf_token %}
          <div class="form-group">
            <input type="text" name="entryTitle" class="form-control" id="title" value="Consultation Schedule: (Date and Time)">
          </div>


          <div class="form-group">

            <label for="notesContent" style="color:#0b96ac;">
            Notes:
            </label>

            <textarea class="form-control ckeditor" id="editor" name="text" placeholder="Write anything you want here..."></textarea>

            <script>

                CKEDITOR.replace( "entryContent"
                // {
                //   removeButtons: "Source,About",
                //   filebrowserUploadUrl: "ckeditor/ck_upload.php",
                //   filebrowserUploadMethod: "form"

                // }
                );
            </script>

          </div>

          <div class="form group">
            <button type="submit" value="Save" class="btn btn-info sub sub1" style="margin-left:1%;border-radius:10px;">Save Entry</button>
          </div>

    </form>

  <!-- $keywords = (new ControllerConsNotes)->ctrAddEntry($idPat,$idAppt);
} -->
{% endblock notesContent %}
