<!-- <script>
    function validateForm() {var y = document.forms["form"]["title"].value;	if (y == null || y == "") {alert("Title must be filled out.");return false;}
    }
    </script> -->
<!-- <?php
      $idPat = $_GET['idUser'];
      $idAppt = 1;
    
      $patName = implode((new Connection)->connect()->query("SELECT CONCAT(user.userfname, ' ', user.userlname) FROM userauth user WHERE user.id = $idPat")->fetch(PDO::FETCH_ASSOC));
    
    
    if((@$_GET['q1']==1) || @$_GET['eeid'])echo '<script src="views/assets/plugins/ckeditor/ckeditor.js" type="text/javascript"></script>';
    
    
    if(@$_GET['w'])
    {echo'<script>alert("'.@$_GET['w'].'");</script>';}
    
    ?> -->

<!-- <div class="specjournal bg2"> -->

<!--menu start-->

<!--menu end-->

<!--content area start-->

<!--compose-->

?>
