{% extends 'consultationNotesBase.html' %}
{% block notesContent %}
  
<div class="col-md-10" style="background-color:transparent;">
  <div class="bich2">
    <div class="mCustomScrollbar area" style="margin-left:10px;margin-right:10px;margin-top:20px; max-height:480px; line-height:35px;padding:5px;">
    
    <table class="table table-striped">
    <tr style="text-align: center;">
      <!-- <td></td> --> <!--PLACE ID HERE-->
      <td><b>Title</b></td>
      <td><b>Date</b></td>
      <td><b>Delete</b></td>
      <!-- <td>
        <td></td>
      </td>
      <td></td>
      <td></td>
      <td></td> -->
    </tr>
    {% for entry in entries %}
<!--   
    foreach (controller as key => $value) {
      $id = $value['id'];
      $date = $value['entrydate'];
        $date= date("d-m-Y",strtotime($date));
        $time = $value['entrytime'];
        $title = $value['entrytitle']; -->
        
    <td>
      <a title="Click to Open Article" href="{% url 'noteOpen' userId=entry.patient.profileID entryId=entry.uuid %}">
        {{ entry.notesTitle }}
      </a>
    </td>
    <td style="text-align: center;">
      <span class="created-at"> {{ entry.created_at}} </span>
    </td>
  
    <td  style="text-align: center;">
      <a title="Delete Article" href="{% url 'delete' entryId=entry.uuid %}">

          <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
    </td>
  
  
        <!-- <td>
          <a title="Edit Article" href="account.php?eeid=">
          <b><i class="fa fa-pencil-square-o" aria-hidden="true"></i></b>
          </a>
        </td> -->
  
        <!-- <td>
        <a title="Get printable view" target="_blank" href="update.php?pid=">
        <b><i class="fa fa-print" aria-hidden="true"></i></b>
        </a>
      </td> -->
  
        <!-- <td>
        <a title="Delete Article" href="route=journal&did=">
        <b><i class="fa fa-trash" aria-hidden="true"></i></b>
        </a>
      </td> -->
  
        </tr>
        {% empty %}
                        <tr>
                            <td colspan="7">No records found.</td>
                        </tr>
                    {% endfor %}
        </table>
  
    </div>
  </div>
</div>
{% endblock notesContent %}
