{% block notesContent %}
  
<!-- if(@$_GET['aid']) {
    $id=$_GET['aid'];
    $controller = (new ControllerConsNotes)->ctrGetNotes($idPat,$_GET['aid']);
  
    foreach ($controller as $key => $value) {
      $date = $value['entrydate'];
      $date= date("d-m-Y",strtotime($date));
      $time = $value['entrytime'];
      $title = $value['entrytitle'];
      $entry = $value['entrytext'];
    }
  
      $date= date("d-m-Y",strtotime($value['entrydate']));
      $time = $value['entrytime'];
      $title = $value['entrytitle'];
      $entry = $value['entrytext']; -->
      <a title="Back to Archive" href="update.php?q1=2">
              <b><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span></b>
            </a>
            <h2 style="text-align:center; margin-top:-15px;font-family: 'Ubuntu', sans-serif;">
            <b>'.$value['entrytime'].'</b></h1>';
  
  
       <div class="mCustomScrollbar" data-mcs-theme="dark" style="margin-left:10px;margin-right:10px; max-height:450px; line-height:35px;padding:5px;">
              <span style="line-height:35px;padding:5px;">-&nbsp;<b>DATE:</b>
              &nbsp;'.date("d-m-Y",strtotime($value['entrydate'])).'</span>
  
      <span style="line-height:35px;padding:5px;">&nbsp;<b>Time:</b>&nbsp;
  
      .$value['entrytime'].'</span><span style="line-height:35px;padding:5px;">&nbsp;<b>By:</b>&nbsp;'.$patName.'</span><br />'.$value['entrytext'].'</div>';
  
  

  {% endblock notesContent %}