#calendar{
    width: 100%;
    height: 100%;
}
#dateTitle{
    font-size: 2rem;
    font-weight: 700;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#modalTitle{
    font-weight: 700;
}
#modalSubtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#appointment-id{
    font-size: 0.75rem;
    color: grey;
}
.main-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.top-container{
    width: auto;
    height: 10vw;
    padding: 1rem;
}
.content-container{
    width: 100%;
    height: 100%;
}

.side-container{
    width: 25vw;
    height: 100%;
    padding: 1rem;
    gap: 1rem;
    border-right: solid 1px #d2d0d0;
}

.side-item{
    padding: 0.75rem;
    position: relative;
}

.form{
    width: 100%;
    padding: 2rem;
}

.options{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    height: 2rem;
}

.options-input{
    width: 90%;
}

.side-btn{
    border: 2px solid pink;
    border-radius: 20px;
    background-color: white;
    width: 100%;
    padding: 0.5em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.selector-container {
    /* display: flex; */
    justify-content: flex-end;
    /* height: 100%; */
    position: absolute;
    width: 85%;
    text-align: right;
    padding: 0;
    /* padding: 1.1rem 0.4rem; */
    font-size: 1.2rem;
    font-weight: 1000;
    color: #001a3f;
}
.modal-header-text{
    display:flex;
    flex-direction: column;
}
.modal-header{
    padding: 1rem 1rem 0 1rem;
}
.modal-body{
    display: flex;
    flex-direction: column;
}
.descriptor{
    font-weight: bold;
}

